.continer{

}
.main, .nav-menu{
    border: 2px solid #eee;
    padding: 10px;

}

.img{
    width: 265px;
    height: 250px;
    margin: 10px;
}

.title{
    width: 100%;
    height: 80px;
}

.description{
    overflow: scroll;
    width: 100%;
    height: 100px;
}

.description::-webkit-scrollbar{
    width: 0;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}